# 
# .gitignoreはリポジトリにおいて、意図的に追跡対象から外したいファイルを設定するためのファイルです。
# 例えば、コンパイル時や起動時に自動的に生成・更新されるファイルやローカル環境でそれぞれ違うメタデータが格納されているものなどは
# バージョン管理において不要となり、管理下にしたくありません。
# また、セキュリティ上においても、環境変数など共有したくないものが出てくる場合があるのでそういった場合に設定します。
# 

# Unityが生成したフォルダ
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# gitで管理しないローカル作業フォルダ
/[Aa]ssets/[Ww]orkPlace/*

# アセットストアツールのプラグイン
/[Aa]ssets/AssetStoreTools*

# 自動生成されたRiderのプラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*
.idea/

# VisualStudioのキャッシュディレクトリ
.vs/

# Gradleのキャッシュディレクトリ
.gradle/

# 自動生成されたVS/MD/Consuloソリューションおよびプロジェクトファイル
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3Dで生成されたmetaファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta

# クラッシュレポートでUnity3Dが生成したファイル
sysinfo.txt

# ビルド関係
*.apk
*.unitypackage

# Crashlyticsが生成したファイル
crashlytics-build.properties

# OSが生成したファイル
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# 一部のプラグインのログファイル
*.log

# 一部のプラグイン用のpythonバイトコードキャッシュ
*.pyc